<div class="reset-password-container">
  <div class="reset-password-page__content">
    <div class="header__logo-box">
      <img src="../../assets/images/logoShot.png" alt="logo">
    </div>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()" class="reset-password-form">
          <div class="u-margin-bottom-small">
            <h2 class="heading-secondary">Create New Password</h2>
          </div>
            <input class="form-input" placeholder="New Password" type="password" formControlName="password">

            <input class="form-input" placeholder="Password (Confirm)" type="password" formControlName="passwordConfirm">

            <button class="btn btn--white" type="submit" [disabled]="!updatePasswordForm.valid">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p style="text-align: center;"><a [routerLink]="['/login']">Back to Login</a></p>
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
