@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.reset-password-page__content {
  position: relative;
  font-family: Lato, sans-serif;
  color: $color-white;
  height: 95vh;
  background-image: linear-gradient(to right bottom,
    rgba($light-primary-color, 0.8),
    rgba($dark-primary-color, 0.8)),
  url("../../assets/images/34943640193_0b537367ac_h-min.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 78vh, 0 100%);
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    img {
      height: 4.5rem;
    }
  }
  p {
    display: block;
    text-align: center;
    margin-top: 2rem;
    font-size: $font-size-default;
    color: $color-white;
    a {
      color: $color-white;
      padding-left: 0.5rem;
      &:hover {
        text-decoration: underline;
        color: $hover-color;
      }
    }
  }
}


.reset-password-form {
  margin: 12rem auto;
  width: 50%;
  padding: 3rem;
  .u-margin-bottom-small {
    text-align: center;
    h2 {
      text-align: center;
      display: block;
      color: $color-white;
      letter-spacing: 1rem;
      margin-bottom: 4rem;
      font-weight: 400;
    }
  }
  button {
    margin-top: 4rem;
    cursor: pointer;
    margin-right: 0;
    color: $dark-primary-color;
    &:hover {
      background-color: #ffffff;
    }
  }
  .form-input {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: $primary-text;
    border-radius: 2px;
    background-color: rgba($color-white, .7);
    border: none;
    font-family: Lato, sans-serif;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    transition: all .3s;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $dark-primary-color;
    }
    &:focus:invalid {
      border-bottom: 3px solid orangered !important;
    }
    &::-webkit-input-placeholder {
      color: $primary-text;
    }
  }
}

.footer {
  margin-top: -15rem;
  @include respond(tab-land) {
    margin-top: -19rem;
  }
}
