
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/images/logoShot.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="router-link-active" routerLink='./todos' ><i class="ion-android-checkbox-outline"></i> Todos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink='./goals'><i class="ion-trophy"></i> Goals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" [routerLink]="'./notes'"><i class="ion-compose"></i> Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" [routerLink]="'./posts'"><i class="ion-ios-paper-outline"></i> Posts</a>
      </li>
    </ul>
    <form class="form-inline">
      <p>Welcome <a [routerLink]="'./profile'"  class="user-link">{{this.user.username}}</a></p>
      <button class="btn btn--transparent" (click)="logout()">Log out</button>
    </form>
  </div>
</nav>

