
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/images/logoShot.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span> <i class="fas fa-bars"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="'/goals'"><i class="fas fa-trophy"></i> Goals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="'/todos'" ><i class="fas fa-tasks"></i> Todos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="'/notes'"><i class="fas fa-clipboard-list"></i>  Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="'/posts'"><i class="fas fa-book-open"></i> Posts</a>
      </li>
    </ul>
    <form class="form-inline">
      <p><a [routerLink]="'/profile'"  class="user-link">{{username}}</a></p>
      <button class="btn btn--transparent" (click)="logout()">Log out</button>
    </form>
  </div>
</nav>
