<footer class="footer-section">
  <div class="footer__logo-box">
    <picture class="footer-logo">
      <source srcset="../../assets/images/footer-logo-small-1x.png 1x, ../../assets/images/footer-logo-small-2x.png 2x"
      media="(max-width: 37.5em)">
      <img src="../../assets/images/footer-logo.png " alt="" >
    </picture>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
          <ul class="footer__list">
            <li class="footer__item"><a [routerLink]="['/contact-us']">Contact us</a></li>
          </ul>
      </div>
      <div class="col-md-4 offset-4 col-sm-4 col-xs-4">
        <p class="footer__copyright">© 2018 Go2Goal</p>
      </div>
    </div>
  </div>
</footer>
