<footer class="footer-section">
  <div class="footer__logo-box">
    <img src="../../assets/images/footer-logo.png" alt="" class="footer-logo">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!--<div class="footer__navigation">-->
          <ul class="footer__list">
            <li class="footer__item"><a [routerLink]="['/contact-us']">Contact us</a></li>
          </ul>
        <!--</div>-->
      </div>
      <div class="col-md-4 offset-4">
        <p class="footer__copyright">© 2018 Go2Goal</p>
      </div>
    </div>
  </div>
</footer>
