<div class="welcome-page__content">
  <header class="header">
    <div class="header__logo-box">
      <img src="../../assets/images/logoShot.png" alt="logo">
    </div>

    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main">Go2Goal</span>
        <span class="heading-primary--sub">is where wishes come true</span>
      </h1>
      <div class="header__btns">
        <a [routerLink]="['/login']" class="btn btn--white btn--animated">Log in</a>
        <a [routerLink]="['/register']" class="btn btn--transparent btn--appeared">Register</a>
      </div>
    </div>
  </header>
  <div class="about-section">
    <div class="text-center u-margin-bottom-big">
      <h2 class="heading-secondary">What do we suggest?</h2>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6 we-suggest">
        <h3 class="heading-tertiary u-margin-bottom-small">Goals setting.</h3>
        <p class="paragraph">Setting goals with G2G will help to define the main goal of your life achieving which you'll be able confidently
          say that you didn't waste your life and to plan precise steps for achieving it.</p>

        <h3 class="heading-tertiary u-margin-bottom-small">Creating several todolists.</h3>
        <p class="paragraph">With G2G you can create infinite count of lists for daily activities, reading, cooking, watching or shopping.</p>

        <h3 class="heading-tertiary u-margin-bottom-small">Saving notes.</h3>
        <p class="paragraph">Here you can save your favorite quotes, expressions, useful links, resources or just anything you don't want to lose.</p>

        <h3 class="heading-tertiary u-margin-bottom-small">Sharing posts.</h3>
        <p class="paragraph">Share your thoughts, goals, impressions or opinion. Recommend something you like to another people.</p>
        <a [routerLink]="['/register']" class="btn-text">Get started &rarr;</a>
      </div>
      <div class="col-md-12 col-lg-6 composition-container">
        <div class="composition">
          <img src="../../assets/images/hero-min.jpg" alt="nature picture" class="composition__photo composition__photo--p1">
          <img src="../../assets/images/nat-2-large-min.jpg" alt="nature picture" class="composition__photo composition__photo--p2">
          <img src="../../assets/images/nat-3-large-min.jpg" alt="nature picture" class="composition__photo composition__photo--p3">
        </div>
      </div>
    </div>
  </div>

  <div class="features-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="feature-box">
            <i class="fas fa-trophy feature-box__icon"></i>
            <h3 class="heading-tertiary u-margin-bottom-small">Goals</h3>
            <p class="feature-box__text">Goal of life and 5 levels of goals to achieve it; goals of the year,
              month and week.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="feature-box">
            <i class="fas fa-tasks feature-box__icon"></i>
            <h3 class="heading-tertiary u-margin-bottom-small">Todos</h3>
            <p class="feature-box__text">Lists of todos, purchases, books, etc.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="feature-box">
            <i class="fas fa-clipboard-list feature-box__icon"></i>
            <h3 class="heading-tertiary u-margin-bottom-small">Notes</h3>
            <p class="feature-box__text">Notes, quotes, links, expressions, thoughts.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="feature-box">
            <i class="fas fa-book-open feature-box__icon"></i>
            <h3 class="heading-tertiary u-margin-bottom-small">Posts</h3>
            <p class="feature-box__text"> Recommendation, impression, opinion about books, places, events or goals.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="reviews-section">
    <div class="bg-video">
      <video class="bg-video__content" autoplay loop muted>
        <source src="../../assets/images/Sunset-Lapse.mp4">
        <source src="../../assets/images/Sunset-Lapse.ogv">
        <source src="../../assets/images/Sunset-Lapse.webm">
      </video>
    </div>
    <div class="text-center u-margin-bottom-big">
      <h2 class="heading-secondary">People say about us...</h2>
    </div>
    <div class="row u-margin-bottom-big">
      <div class="col-md-12">
        <div class="story">
          <figure class="story__shape">
            <img src="../../assets/images/user1.jpeg" alt="profile picture">
            <figcaption class="story__caption">Coffeewoman</figcaption>
          </figure>
          <div class="story__text">
            <h3 class="heading-tertiary">Прекрасный ресурс для тех, кто реально хочет понять, чего хочет в жизни.</h3>
            <p class="paragraph">Очень рада, что нашла этот сайт! Особенно благодарна за раздел с целями. Пришлось уделить немало времени,
              чтобы определить, что же является моей главной целью. Но как только определила, сразу стало понятнее, что нужно для этого делать.
          </div>
        </div>
      </div>
    </div>
    <div class="row  u-margin-bottom-big">
      <div class="col-md-12">
        <div class="story">
          <figure class="story__shape">
            <img src="../../assets/images/user2.jpeg" alt="profile picture">
            <figcaption class="story__caption">Nika_85</figcaption>
          </figure>
          <div class="story__text">
            <h3 class="heading-tertiary">I like it!</h3>
            <p class="paragraph">Indeed the place where you have everything that you need in your daily life. I'm looking forward to
          mobile app.</div>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a [routerLink]="['/reviews']" class="btn-text">See all reviews &rarr;</a>
      </div>
    </div>
  </div>
 <app-footer></app-footer>
</div>
