<div class="login-page__content">
  <div class="login-form">
    <div class="header__logo-box">
      <img src="../../assets/images/logoShot.png" alt="">
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form">
          <form #form="ngForm" (ngSubmit)="login()">
            <div class="u-margin-bottom-small">
              <h2 class="heading-secondary">Login Page</h2>
            </div>
            <div class="form-group">
              <input type="text"
                     class="form-input"
                     placeholder="Username"
                     id="username"
                     name="username" required [(ngModel)]="username">
              <label class="form-label" for="username">Username</label>
            </div>

            <div class="form-group">
              <input type="text"
                     class="form-input"
                     placeholder="Password"
                     id="password"
                     name="password" required [(ngModel)]="password">
              <label class="form-label" for="password">Password</label>
            </div>

            <div class="form-group form-group__checkbox">
              <input type="checkbox" [(ngModel)]="remember" name="remember" id="remember">
              <label for="remember" class="checkbox-label">
                <span class="form-checkbox"></span>Remember me</label>
            </div>

            <div class="form-group">
              <button class="btn btn--white" [disabled]="!form.valid">Login</button>
              <p>New to site? <a [routerLink]="['/register']">Create an account</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
