<div class="contact">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="/welcome">
      <img src="../../assets/images/logoShot.png" alt="">
    </a>
    <div class="btns-log">
      <a [routerLink]="['/login']">Log in</a>
      <a [routerLink]="['/register']">Register</a>
    </div>
  </nav>
  <div class="contact-component">
    <div class="row">
      <div class="col-md-12 contact-component">
        <div class="container text-center">
          <h2 class="heading-secondary">Contact Us
          </h2>
        </div>
        <div class="contact-content">
          <p>If you have any questions, proposals or just want to leave a feedback, please, contact us</p>
          <div class="social-links">
            <a href="https://www.instagram.com/go2goaltoday/" target="_blank" class="ig-icon"></a>
            <a href="" class="fb-icon"></a>
            <a href="" class="vk-icon"></a>
            <a href="" class="mail-icon"></a>
          </div>
          <p>or leave a review <a [routerLink]="['/reviews']"> HERE -> </a></p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
