@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
.contact {
  padding: 3rem;
}

nav {
  background-image: linear-gradient(to right,
    rgba($light-primary-color, 1),
    rgba($dark-primary-color, 1));
  color: $color-white;
  font-size: 1.4rem;
  height: 25vh;
  clip-path: polygon(0 0, 100% 0, 100% 18vh, 0 100%);
  .navbar-brand {
    img {
      height: 4rem;
    }
  }
  .btns-log {
    display: block;
    position: absolute;
    right: 1rem;
    a {
      color: $color-white;
      margin-right: 1rem ;
      &:hover {
        color: $light-orange-color;
      }
    }
  }
}
  .heading-secondary {
    color: $dark-primary-color;
    transform: none;
    width: 100%;
    margin-top: 2rem;
  }
.contact-content {
  margin: 3rem auto;
  width: 90%;
  //background: $color-white;
  padding: 2rem;
  .contact-container {
    width: 100%;
    margin: 0 auto;
    button {
      padding: 1rem 4rem;
      margin-left: 3rem;
      &:focus {
        outline: none;
      }
    }
  }
  h2 {
    text-align: center;
    color: $dark-primary-color;
    margin-bottom: 1rem;
  }
  p {
    text-align: center;
    font-size: 1.6rem;
  }
}
.social-links {
  display: block;
  text-align: center;
  padding: 12rem;
  a {
    padding: 2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 4rem;
  }
  .ig-icon {
    background-image: url('../../assets/images/if_Instagram_1298747-min.png');
  }
  .fb-icon {
    background-image: url('../../assets/images/if_facebook_386622-min.png');
  }
  .vk-icon {
    background-image: url('../../assets/images/if_vkontakte_386743-min.png');
  }
  .mail-icon {
    background-image: url('../../assets/images/if_mail_115714-min.png');
  }

}
