@import "../../assets/scss/variables";

.goals-page__component {
  padding-bottom: 5rem;
  font-size: 1.5rem;
  .jumbotron {
    background-image: linear-gradient(to right bottom,
      rgba($light-primary-color, 0.5),
      rgba($dark-primary-color, 0.5)), url("../../assets/images/34943640193_0b537367ac_h.jpg");
    margin-bottom: 0;
    background-size: cover;
    background-attachment: fixed;
  }
  .goals--paragraph {
    font-size: 1.6rem;
    text-align: center;
    padding: 2rem;
    color: $primary-text;
    letter-spacing: 1px;
  }
  .heading-secondary {
    color: $color-white;
    transform: none;
    width: 100%;
    margin-top: 2rem;
  }
  .goals__header--paragraph {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem 17rem 0;
    color: $color-white;
    letter-spacing: 2px;
  }
  .author {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    text-transform: none;
    color: $primary-color;

  }

  .nav.nav-tabs {
    border-bottom: 1px solid transparent;
    margin-top: 5rem;
    .active {
      background-color: transparent;
      border: 1px solid $color-white;
      color: $light-primary-color;
      a {
        color: $light-primary-color;
      }
    }
    li {
      color: $color-white;
      a {
        color: $color-white;
      }
      .nav-link:focus, .nav-link:hover {
        border-color: $color-white;
      }
    }

  }

  .goals_content {
    background-color: $color-white;
    color: $primary-text;
    margin: 0;
  }
}
