<div class="goals-page__component">
    <div class="content">
      <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
          <div class="row">
              <h2 class="heading-secondary text-center">Goals</h2>
              <p class="goals__header--paragraph">"What you get by achieving your goals is not
                as important as what you become by achieving your goals".
              </p>
            <p class="author">Henry David Thoreau</p>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="'./goal-of-life'">Main Goal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="'./goals-of-year'">Goals of The Year</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="'./goals-of-month'">Goals of The Month</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="'./goals-of-week'">Goals of The Week</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row goals_content">
        <div class="col-md-12" style="padding: 0;">
              <p class="goals--paragraph">Here you can define only one Main Goal and several steps which
                will help you to achieve it, goals of the year, goals of the month and goal of the week.</p>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
</div>
