<div class="main-page__component">
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h2 class="heading-secondary text-center">Welcome to Go2Goal!</h2>
      <p class="todos__header--paragraph">"<span>A dream</span> written down with a date becomes a goal.
        <span>A goal</span> broken down into
        steps becomes a plan. <span>A plan</span> backed by action makes your dreams come true".
      </p>
    </div>
  </div>
  <div class="main-page__component--content">
    <p class="pre--paragraph">How can you be sure that you're on the right way if you even don't know where you go?</p>
    <div class="main-paragraph">G2G will help to <span>plan</span> your life and <span>define</span> every step to your
      final goal achieving which will <span>make you happy</span>.
      <ul>
        <li><i class="far fa-check-circle"></i> Here you can define the Main Goal of your life and several steps which
          will help you to achieve it, goals of the year, goals of the month and goals of the week.
        </li>
        <br>
        <li><i class="far fa-check-circle"></i> Create a list of daily activities, curses you want to buy,
          books you want to read and cross them off. It will help you to manage your time and be more productive.
        </li>
        <br>
        <li><i class="far fa-check-circle"></i> Leave here any notes, your favorite quotes and expressions, useful resources,
          links. Everything you don't want to forget or lose.
        </li>
        <br>
        <li><i class="far fa-check-circle"></i> Share your thoughts, goals or some useful information to help another people in their life planning
          or use their experience.
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--1">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1">Goals</span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>Goal of Life</li>
                  <li>Goals of Year</li>
                  <li>Goals of Month</li>
                  <li>Goals of Week</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <h4 class="card__side--back__header">My Goals</h4>
                <div class="card__cta--details">
                  <ul>
                    <li>Goal of Life: {{golNumber}}</li>
                    <li>Goals of Year: {{goyNumber}}</li>
                    <li>Goals of Month: {{gomNumber}}</li>
                    <li>Goals of Week: {{gowNumber}}</li>
                  </ul>
                </div>
                <a [routerLink]="'/goals'" class="btn btn--white">Go to Goals!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--2">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--2">Todos</span>
              </h4>
              <div class="card__details--2">
                Lists of todos, curses, books, etc.
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                <h4 class="card__side--back__header">My Todos</h4>
                <div class="card__cta--details">
                  You have {{todosNumber}} things to do.
                </div>
                <a [routerLink]="'/todos'" class="btn btn--white">Go to Todos!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--3">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--3">Notes</span>
              </h4>
              <div class="card__details--2">
                Notes, quotes, links, expressions, etc.
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                <h4 class="card__side--back__header">My Notes</h4>
                <div class="card__cta--details">
                  You have {{notesNumber}} very important and useful notes.
                </div>
                <a [routerLink]="'/notes'" class="btn btn--white">Go to Notes!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--4">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--4">Posts</span>
              </h4>
              <div class="card__details--4">
                Share your impression, opinion about books, places, events. Recommend it to another people. Use someones
                experience or recommendations.
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-4">
              <div class="card__cta">
                <h4 class="card__side--back__header">My Posts</h4>
                <div class="card__cta--details">
                  You have {{postsNumber}} published post.
                </div>
                <a [routerLink]="'/posts'" class="btn btn--white">Go to Posts!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="pre--paragraph last-paragraph"></p>
        </div>
      </div>
    </div>
  </div>
</div>
