@import "../../../assets/scss/variables";

.gol-of-life__content {
  margin: 0 auto;
  .goal-of-life__header {
    background-image: linear-gradient(105deg,
      transparent 0%,
      transparent 20%,
      rgba($color-white, .8) 20%,
      rgba($color-white, .8) 80%,
      transparent 80%),
    url("../../../assets/images/luca-bravo-121932.jpg");
    background-size: 100%;
    height: 30rem;
    background-position: center;
    overflow: hidden;
    .form-input {
      margin-left: 25%;
      margin-top: 6rem;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      font-size: 1.5rem;
      padding: 1.5rem 2rem;
      color: inherit;
      border-radius: 2px;
      background-color: rgba($color-white, .7);
      border: none;
      font-family: Lato, sans-serif;
      border-bottom: 3px solid transparent;
      width: 50%;
      display: block;
      float: left;
      transition: all .3s;
      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
        border-bottom: 3px solid $dark-primary-color;
      }
      &:focus:invalid {
        border-bottom: 3px solid orangered !important;
      }
      &::-webkit-input-placeholder {
        color: $secondary-text;
      }
    }
    .btn {
      margin-top: 6.3rem;
      margin-left: 2rem;
    }
    .heading-secondary {
      margin-top: 4rem;
    }
  }
}

//#mainGoal {
//  float: left;
//  margin-right: 10px;
//}
