@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.gol-of-life__content {
  padding: 3rem;
}
.pre--paragraph {
  font-size: 2.6rem;
  text-align: center;
  padding: 1rem 20rem;
  font-style: italic;
  color: #212121;
  letter-spacing: 1.5px;
  line-height: 2;
  position: relative;
  &:after {
    content: '';
    width: 30rem;
    height: .5rem;
    background-color: $orange-color;
    position: absolute;
    bottom: 0;
    right: 38%;

  }
}
.goal-of-life__container .pre--paragraph {
  margin-top: 3rem;
}
.goals_content {
  background-color: $color-white;
  color: $primary-text;
  margin: 0;
  .main-paragraph {
    font-size: 1.6rem;
    text-align: justify;
    padding: 3rem 4rem;
    margin-bottom: 3rem;
    color: #212121;
    letter-spacing: 1px;
  }
}
.form-input {
  box-shadow: 0 1rem 2rem rgba($color-black, .1);
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  color: inherit;
  border-radius: 2px;
  background-color: rgba($color-white, .7);
  border: none;
  font-family: Lato, sans-serif;
  border-bottom: 3px solid transparent;
  width: 50%;
  display: block;
  float: left;
  transition: all .3s;
  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($color-black, .1);
    border-bottom: 3px solid $dark-primary-color;
  }
  &:focus:invalid {
    border-bottom: 3px solid orangered !important;
  }
  &::-webkit-input-placeholder {
    color: $secondary-text;
  }
}

.btn {
  margin-left: 2rem;
}

.goal-of-life__container {
  padding: 1rem;
  h4 {
    padding: 3rem;
    color: $orange-color;
    text-transform: uppercase;
    margin-bottom: 4rem;
    font-size: 1.8rem;
  }
  .heading-secondary {
    padding: 3rem;
    padding-bottom: 0;
    line-height: 1.5;
    i {
      display: inline-block;
      background-image: linear-gradient(to right, $light-primary-color, $dark-primary-color);
      -webkit-background-clip: text;
      color: transparent;
      margin-right: 3rem;
    }
    &:hover {
      transform: none;
      text-shadow: none;
    }
  }

  .goal-of-life--content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: 1.6rem;
    transition: all .4s;
    backface-visibility: hidden;
    margin-bottom: 2rem;

    .goal--title {
      @include step_title;
      z-index: 4;
      color: $light-primary-color;
    }
    .goal--add {
      @include step-info;
      color: $dark-primary-color;
      right: 4rem;
      &:hover {
        transform: scale(1.5) rotate(90deg);
      }
    }
    .goal--edit {
      @include step-info;
      color: $dark-primary-color;
      right: 2rem;
      &:hover {
        transform: scale(1.5);
      }
    }
    .goal--remove {
      @include step-info;
      color: $dark-primary-color;
      right: 0;
      &:hover {
        transform: scale(1.5) rotate(90deg);
      }
    }
    form.mainGoalInputs {
      padding: 1rem;
      width: 100%;
      box-sizing: border-box;
      padding-top: 3rem;
      z-index: 3;
      input {
        width: 50%;
        float: left;
        background-color: $color-white;
      }
      button {
        margin: 0;
        display: block;
        margin-left: 2rem;
      }
    }
  }
  .goal-of-life--content:hover .goal--edit {
    display: block;
  }
  .goal-of-life--content:hover .goal--remove {
    display: block;
  }
  .goal-of-life--content:hover .goal--add {
    display: block;
  }
}

li.is-active {
  outline: 1px solid $orange-color;
}

.addFlsForm {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.goal-of-life--first-step {
  box-sizing: border-box;
  list-style: none;
  position: relative;
  width: 48%;
  display: inline-block;
  margin: 0 auto;
  margin-right: 2rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  //background-color: $light-grey-color;
  background-image: linear-gradient(to right bottom,
    rgba($light-orange-color, 0.3),
    rgba($orange-color, 0.3));
  border-radius: 3px;
  padding: 2rem;
  font-size: 1.6rem;
  transition: all .4s;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  vertical-align: top;

  .goal-first-step--add {
    color: $orange-color;
    right: 4rem;
    @include step-info;
    &:hover {
      transform: scale(1.5) rotate(90deg);
    }
  }

  .goal-first-step--edit {
    color: $orange-color;
    right: 2rem;
    @include step-info;
    &:hover {
      transform: scale(1.5);
    }
  }
  .goal-first-step--remove {
    color: $orange-color;
    right: 0;
    @include step-info;
    &:hover {
      transform: scale(1.5) rotate(90deg);
    }
  }
  .goal-first-step--title {
    color: $orange-color;
    @include step-title;
  }
  p.fls_title {
    margin: 1rem auto;
    text-align: center;
    font-size: 2rem;
    padding: 2.5rem;
    color: $orange-color;
  }
  .fls-input {
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    input {
      padding: 1rem;
      margin: 0;
      margin-top: 2.8rem;
      width: 65%;
      outline: 1px solid $orange-color;
      box-shadow: none;
      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
        border-bottom: 3px solid $orange-color;
      }
    }
    button {
      padding: 1rem 3rem;
      margin: 0;
      margin-top: 2.8rem;
    }
  }
  &:nth-child(even) {
    margin-right: 0;
  }
}

.goal-of-life--second-step {
  box-sizing: border-box;
  list-style: none;
  position: relative;
  width: 49%;
  display: inline-block;
  margin: 0 auto;
  margin-right: 1%;
  background-color: $color-white;
  //outline: 1px solid $green-color;
  border-radius: 3px;
  padding: 2rem;
  font-size: 1.4rem;
  transition: all .4s;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  vertical-align: top;
  .goal-second-step--title {
    color: $green-color;
    @include step-title;
  }
  .goal-second-step--add {
    color: $green-color;
    right: 4rem;
    @include step-info;
    &:hover {
      transform: scale(1.5) rotate(90deg);
    }
  }

  .goal-second-step--edit {
    right: 2rem;
    color: $green-color;
    @include step-info;
    &:hover {
      transform: scale(1.5);
    }
  }
  .goal-second-step--remove {
    right: 0;
    color: $green-color;
    @include step-info;
    &:hover {
      transform: scale(1.5) rotate(90deg);
    }
  }
  p {
    margin: 1.5rem auto;
    text-align: center;

    color: $green-color;
    //border-bottom: 1px solid $green-color;
  }
  .sls-input {
    margin-top: 1.2rem;
    input {
      margin-left: 0;
      margin-top: .5rem;
      padding: .5rem;
      width: 100%;
      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($green-color, .1);
      }
    }
    button {
      padding: 0.5rem 2rem;
      margin: 0;
      margin-top: .5rem;
    }
  }
  &:nth-child(even) {
    margin-right: 0;
  }
}

.addTlsForm {
  margin-top: 1.2rem;
  input {
    margin: .5rem 0 0 0;
    padding: .5rem;
    width: 100%;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($green-color, .1);
    }
  }
  button {
    padding: 0.5rem 2rem;
    margin: 0;
    margin-top: .5rem;
  }
}

.addFthlsForm {
  margin-top: 1.2rem;
  input {
    margin: .5rem 0 0 0;
    padding: .5rem;
    width: 100%;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($green-color, .1);
    }
  }
  button {
    padding: 0.5rem 2rem;
    margin: 0;
    margin-top: .5rem;
  }
}

.addFithlsForm {
  margin-top: 1.2rem;
  input {
    margin: .5rem 0 0 0;
    padding: .5rem;
    width: 100%;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($light-orange-color, .1);
    }
  }
  button {
    padding: 0.5rem 2rem;
    margin: 0;
    margin-top: .5rem;
  }
}

.goal-of-life--third-step {
  box-sizing: border-box;
  list-style: none;
  position: relative;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  margin-right: 1rem;
  background-image: linear-gradient(to right bottom,
    rgba($light-primary-color, 0.3),
    rgba($dark-primary-color, 0.3));
  border-radius: 3px;
  padding: 2rem;
  font-size: 1.4rem;
  transition: all .4s;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  vertical-align: top;
  .goal-third-step--title {
    color: $dark-primary-color;
    @include step-title;
  }
  .goal-third-step--add {
    right: 4rem;
    color: $dark-primary-color;
    @include step-info;
    &:hover {
      transform: scale(1.5) rotate(90deg);
    }
  }

  .goal-third-step--edit {
    right: 2rem;
    color: $dark-primary-color;
    @include step-info;
    &:hover {
      transform: scale(1.5);
    }
  }
  .goal-third-step--remove {
    right: 0;
    color: $dark-primary-color;
    @include step-info;
    &:hover {
      transform: scale(1.5) rotate(90deg);
    }
  }
  p {
    color: $dark-primary-color;
    //border-bottom: 1px solid $dark-primary-color;
  }
}

.goal-of-life--fourth-step {
  box-sizing: border-box;
  list-style: none;
  position: relative;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  margin-right: 1rem;
  background-color: $color-white;
  border-radius: 3px;
  padding: 2rem;
  font-size: 1.4rem;
  transition: all .4s;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  vertical-align: top;
  .goal-fourth-step--title {
    color: $light-green-color;
    @include step-title;
  }

  .goal-fourth-step--add {
    right: 4rem;
    color: $light-green-color;
    @include step-info;
    &:hover {
      transform: scale(1.5) rotate(90deg);
    }
  }

  .goal-fourth-step--edit {
    right: 2rem;
    color: $light-green-color;
    @include step-info;
    &:hover {
      transform: scale(1.5);
    }
  }
  .goal-fourth-step--remove {
    right: 0;
    color: $light-green-color;
    @include step-info;
    &:hover {
      transform: scale(1.5) rotate(90deg);
    }
  }
  p {
    color: $light-green-color;
    //border-bottom: 1px solid $dark-primary-color;
  }
}

.goal-of-life--fifth-step {
  box-sizing: border-box;
  list-style: none;
  position: relative;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  margin-right: 1rem;
  background-image: linear-gradient(to right bottom,
    rgba($orange-color, 0.3),
    rgba($light-orange-color, 0.3));
  border-radius: 3px;
  padding: 2rem;
  font-size: 1.4rem;
  transition: all .4s;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  vertical-align: top;
  .goal-fifth-step--title {
    color: $light-orange-color;
    @include step-title;
  }

  .goal-fifth-step--edit {
    right: 2rem;
    color: $light-orange-color;
    @include step-info;
    &:hover {
      transform: scale(1.5);
    }
  }
  .goal-fifth-step--remove {
    right: 0;
    color: $light-orange-color;
    @include step-info;
    &:hover {
      transform: scale(1.5) rotate(90deg);
    }
  }
  p {
    color: $light-orange-color;
    //border-bottom: 1px solid $dark-primary-color;
  }
}

.goal-of-life--first-step:hover .goal-first-step--edit {
  display: block;
}

.goal-of-life--first-step:hover .goal-first-step--remove {
  display: block;
}

.goal-of-life--first-step:hover .goal-first-step--add {
  display: block;
}

.goal-of-life--second-step:hover .goal-second-step--edit {
  display: block;
}

.goal-of-life--second-step:hover .goal-second-step--remove {
  display: block;
}

.goal-of-life--second-step:hover .goal-second-step--add {
  display: block;
}

.goal-of-life--third-step:hover .goal-third-step--edit {
  display: block;
}

.goal-of-life--third-step:hover .goal-third-step--remove {
  display: block;
}

.goal-of-life--third-step:hover .goal-third-step--add {
  display: block;
}

.goal-of-life--fourth-step:hover .goal-fourth-step--edit {
  display: block;
}

.goal-of-life--fourth-step:hover .goal-fourth-step--remove {
  display: block;
}

.goal-of-life--fourth-step:hover .goal-fourth-step--add {
  display: block;
}

.goal-of-life--fifth-step:hover .goal-fifth-step--edit {
  display: block;
}

.goal-of-life--fifth-step:hover .goal-fifth-step--remove {
  display: block;
}


