<div class="notebook-page__component">
  <div class="content">
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <div class="row">
          <h2 class="heading-secondary text-center">Notes</h2>
          <p class="notebook__header--paragraph">"People with goals succeed because they know where they're going".
          </p>
          <p class="author">Earl Nightingale</p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="notebook-content__area textarea-field">
            <form [formGroup]="addNoteForm">
                  <textarea #note name="note" id="note" placeholder="Enter Note Here..."
                            formControlName="note"></textarea>
            </form>
            <button [disabled]="!addNoteForm.valid" type="submit" (click)="addNote(note.value)">
              <i class="fas fa-plus"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 notebook-content">
        <p class="pre--paragraph"></p>
        <div class="row">
          <div class="col-md-12">
            <h4 class="text-center" *ngIf="noNotes">Your notes will appear here... </h4>
            <div class="notebook-content__area note-content" *ngFor="let note of notes; let index = index">
              <span (click)="editNote(note)" class="todo--edit"><i class="far fa-edit"></i></span>
              <span (click)="deleteNote(note, index)" class="delete-icon"><i class="far fa-times-circle"></i></span>
              <p>{{note.title}}</p>
              <div class="form-group edit-note-form" *ngIf="note.isEdited">
              <textarea type="text"
                        #noteUpdate
                        class="form-input"
                        value="{{note.title}}">
                 </textarea>
                <button type="button" class="btn edit-button"
                        (click)="updateNote(noteUpdate.value, note)"><i class="far fa-edit"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <p class="pre--paragraph"></p>
      </div>
    </div>
  </div>
</div>
