<div class="notebook-page__component">
  <div class="content">
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <div class="row">
          <h2 class="heading-secondary text-center">Notes</h2>
          <p class="notebook__header--paragraph">"People with goals succeed because they know where they're going".
          </p>
          <p class="author">Earl Nightingale</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 notebook-content">
        <p class="notebook--paragraph">Leave here any notes, your favorite quotes and expressions, useful resources,
          links. Everything you don't want to forget or lose.</p>
        <hr>
      </div>
    </div>
  </div>
</div>
