<div class="forgot-password-container">
  <div class="forgot-password-page__content">
    <div class="header__logo-box">
      <img src="../../assets/images/logoShot.png" alt="">
    </div>
    <div class="row">
      <div class="col-md-12">
        <form #form="ngForm" class="forgot-password-form" (ngSubmit)="send(email)">
          <div class="u-margin-bottom-small">
            <h2 class="heading-secondary">Forgot your password?</h2>
          </div>

          <input class="form-input" placeholder="E-Mail" type="text" name="email" required
                 [(ngModel)]="email">
          <div class="text-right" style="display: block;">
            <button type="submit" class="btn btn--white" [disabled]="!form.valid">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p style="text-align: center;"><a [routerLink]="['/login']">Back to Login</a></p>
        <p *ngIf="submit" class="check">Check your email!</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
