<div class="profile-component">
  <div class="row">
    <div class="col-md-12">
      <div class="container text-center">
        <h2 class="heading-secondary text-center">My profile</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 profile-component">
      <div class="profile-content">
        <div class="form-group">
          <input type="text"
                 class="form-input"
                 placeholder="Username"
                 id="username"
                 name="username" required [(ngModel)]="username">
          <label class="form-label" for="username">Username</label>
        </div>
        <div class="form-group">
          <input type="email"
                 class="form-input"
                 placeholder="Email"
                 id="email"
                 name="email" required [(ngModel)]="email">
          <label class="form-label" for="username">Email</label>
        </div>
      </div>
    </div>
    <div class="col-md-6 profile-component">
      <div class="profile-content">
        <span *ngIf="wrongPassword" class="incorrect-data">You entered wrong current password!</span>
        <div class="form-group">
          <input type="password"
                 class="form-input"
                 placeholder="Old Password"
                 id="oldPassword"
                 name="oldPassword" required [(ngModel)]="oldPassword">
          <label class="form-label" for="oldPassword">Old Password</label>
        </div>

        <div class="form-group ">
          <input type="password"
                 class="form-input"
                 placeholder="New Password"
                 id="newPassword"
                 name="newPassword" required [(ngModel)]="newPassword">
          <label class="form-label" for="newPassword">New Password</label>
        </div>
        <button  class="btn btn--indigo" type="submit" (click)="onChangePassword(oldPassword, newPassword)">Change Password</button>
        <button  class="btn btn--indigo" type="submit" (click)="updateProfile(username, email)">Update Profile</button>
        <p *ngIf="changed" class="success">Your password was successfully changed!</p>
        <p *ngIf="updated" class="success">Your profile was successfully changed!</p>
      </div>
    </div>
  </div>
</div>
