
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
.register-page__content {
  font-family: Lato, sans-serif;
  color: $color-white;
  height: 95vh;
  background-image: linear-gradient(to right bottom,
    rgba($light-primary-color, 0.8),
    rgba($dark-primary-color, 0.8)),
  url("../../assets/images/34943640193_0b537367ac_h.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 78vh, 0 100%);
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    img {
      height: 4.5rem;
    }
  }
}
.register-form {
  padding: 5rem 0;
  position: relative;
  .register {
    margin: 0 auto;
    .form {
      margin: 0 auto;
      width: 70%;
      padding: 3rem;
      .u-margin-bottom-small {
        text-align: center;
        h2 {
          color: $color-white;
          margin-top: 3rem;
          letter-spacing: 1rem;
          margin-bottom: 4rem;
          font-weight: 400;
        }
      }
      p{
        display: inline-block;
        margin-top: 2rem;
        font-size: $font-size-default;
        color: $color-white;
        a {
          color: $color-white;
          padding-left: 0.5rem;
          &:hover {
            text-decoration: underline;
            color: $hover-color;
          }
        }
      }
      .form-group {
        color: $primary-text;
        label {
          color: $color-white;
        }
        button {
          margin-top: 1rem;
          float: left;
          margin-right: 3rem;
          color: $dark-primary-color;
          background-color: $color-white;
          &:hover {
            background-color: #ffffff;
          }
        }
      }
      .form-input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        color: inherit;
        border-radius: 2px;
        background-color: rgba($color-white, .7);
        border: none;
        font-family: Lato, sans-serif;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s;
        &:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba($color-black, .1);
          border-bottom: 3px solid $dark-primary-color;
        }
        &:focus:invalid {
          border-bottom: 3px solid orangered !important;
        }
        &::-webkit-input-placeholder {
          color: $secondary-text;
        }
      }

      .form-label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
      }
      .form-input:placeholder-shown + .form-label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
      }
    }
  }
  .register-form__footer {
    height: 3rem;
    img {
      width: 5rem;
    }
    p {
      color: $color-white;
      font-size: 1.4rem;
    }
  }
  .logo {
    position: absolute;
    top: -3.5rem;
    right: 3.5rem;
    width: 9rem;
    z-index: 2;
  }
}
.footer {
  margin-top: -15rem;
  @include respond(tab-land) {
    margin-top: -19rem;
  }
}

.password-container {
  position: relative;

  span {
    .fa-eye {
      position: absolute;
      top: 17px;
      font-size: 2rem;
      right: 1%;
      color: $dark-primary-color;
      cursor: pointer;
    }
  }
}
